:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #cecece;
}

#app {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
  min-height: 100vh;
  width: max-content;
  user-select: none;
}

#app canvas {
  background-color: white;
}

.ruler-box {
  position: relative;
  padding: 20px;
}

.ruler-box .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  position: absolute;
  bottom: 32px;
  width: 100%;
}
.ruler-box canvas {
  top: 0;
  left: 0;
}

.ruler-box .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ruler-box .text .big-text {
  font-size: 60px;
  font-weight: 400;
}

.ruler-box .text span {
  font-size: 24px;
  color: rgb(94, 94, 94);
}

/* ------------- */

.curve-box {
  position: relative;
  padding: 20px;
}

.curve-box .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  position: absolute;
  bottom: 32px;
  width: 100%;
}
.curve-box canvas {
  top: 0;
  left: 0;
}

.curve-box .text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.curve-box .text .big-text {
  font-size: 60px;
  font-weight: 400;
}

.curve-box .text span {
  font-size: 24px;
  color: rgb(94, 94, 94);
}
